@model IEnumerable<WebApp.Models.Message>

@{
    ViewBag.Title = "Meddelanden från konsoll-applikationen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meddelanden från konsoll-applikationen</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Meddelandetext
        </th>
        <th>
            Skickat
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datestamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
